{% load static %}
<html>
<head>
  <title>Website</title>
  <link href="{% static 'css/normalize.css' %}" rel="stylesheet"> <!-- Adds Normalise. -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet"> <!-- Adds basic stylesheet. Different from Normalise. I think. -->
  <script src="{% static 'js/script.js' %}"></script> <!-- Does not work -->
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
</head>

{% block sidebar %}

        <!-- Sidebar -->
        <nav class="navItUp">
            <div class="brand-title"> <a class="title" href="/">Brand Name</a></div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbarLinks">
                <ul>
                    <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold" href="#">About</a> 
                    </li>
                    <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold" href="#">The Story</a>
                    </li>
                    <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold" href="#">Weblogs</a>
                    </li>
                    <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold" href="#">Progress</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% endblock sidebar %}
       
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">cheese</p>
        </footer>
    </body>
</html>
</html>