{% extends "base_generic.html" %}
{% block content %}
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> I talk, </h3>
                    <p class="text-light">
                        You listen. &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <table>
                    <tr>
                        <td>
                            <div class="blog_content">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text text-muted h6"> {{ post.created_on}} </p> <!-- figure out how to show tags later -->
                                <p class="card-text text-muted h6">{{ post.tag}}</p>
                                <p class="card-text">{{post.content|slice:":200" }}</p>
                                <a href="{% url 'post_detail' post.slug%}" class="btn btn-primary">Read More &rarr;</a>
                            </div>
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div> <!-- Eventually, you should be able to sort by tags. -->
    </div>
</div>

{% if is_paginated %}
    {% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
    {%endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {%endif %}
{% endif %}

{%endblock%}
