{% extends "base_generic.html" %}
{% block content %}
<!-- add redirection -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Thank you!</h3>
                    <p class="text-light">
                        You will be redirected soon. &nbsp
                    </p>
                    <a href="/">Press this link if you are not redirected back to the homepage.</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="divTest1" style="width: 100%; height: 50%;"></div> <!-- thumbs up -->
{% endblock %}